{% extends 'base2.html' %}

{% block title %}
О компании
{% endblock %}

{% block content %}
<section class="about">
    <div class="container">
        <div class="about__title">
            <h1>О компании</h1>
        </div>
    </div>
</section>

<section class="about__information">
    <div class="container">
        <div class="about__block about__block--right" data-aos="fade-right">
            <div class="about__text">
                <h1>МЕТАЛЛОПРОКАТ</h1>
                <p>Металлопрокат пользуется огромной популярностью во многих отраслях. Черный металлопрокат более востребован, чем цветной, поскольку черный металл отличается лучшей стойкостью в эксплуатации и простотой обработки. Использование черного металла включает строительство, машиностроение, производство металлических конструкций и многое другое. Современные технологии обработки металла позволяют производить высококачественные изделия, которые устойчивы к износу и коррозии, что делает их идеальным выбором для большинства инженерных решений.</p>
            </div>
            <div class="about__image">
                <img src="/static/images/metal1.jpg" alt="Металлопрокат">
            </div>
        </div>

        <div class="about__block about__block--left" data-aos="fade-left">
            <div class="about__image">
                <img src="/static/images/metal2.jpg" alt="Черный металлопрокат">
            </div>
            <div class="about__text">
                <h1>ЧЕРНЫЙ МЕТАЛЛОПРОКАТ В АЛМАТЫ</h1>
                <p>В Алматы вы можете найти широкий ассортимент черного металлопроката, который используется в различных строительных проектах. Продукция из черного металла востребована в строительстве жилых и коммерческих объектов, а также в производстве металлических конструкций. Важными аспектами являются прочность, долговечность и универсальность продукции, что позволяет использовать ее в самых различных условиях эксплуатации. На рынке представлен широкий выбор труб, арматуры, балок и уголков, которые удовлетворяют требования любого строительного проекта.</p>
            </div>
        </div>

        <div class="about__block about__block--right" data-aos="fade-right">
            <div class="about__text">
                <h1>СОРТАМЕНТ ЧЕРНОГО МЕТАЛЛА</h1>
                <p>Из всего разнообразия черной металлопрокатной продукции чаще всего покупают трубу, арматуру, уголки и полосы. Трубы используются в строительстве и промышленных объектах для транспортировки различных сред. Арматура необходима для укрепления железобетонных конструкций, что обеспечивает их долговечность и устойчивость к нагрузкам. Уголки и полосы применяются для создания металлических каркасов и других конструкций, где требуется высокая прочность и жесткость. Каждый элемент металлопроката имеет свои характеристики и назначение, что делает их незаменимыми в современном строительстве и промышленности.</p>
                <ul>
                    <li>Трубы из черного металла – распространенный материал при создании и жилых, и производственных зданий.</li>
                    <li>Арматура применяется для укрепления архитектурных конструкций.</li>
                    <li>Полоса используется в строительстве, производстве металлоконструкций и других областях.</li>
                    <li>Уголки служат армирующими деталями.</li>
                </ul>
            </div>
            <div class="about__image">
                <img src="/static/images/metal3.jpg" alt="Сортамент металла">
            </div>
        </div>

        <div class="about__block about__block--left" data-aos="fade-left">
            <div class="about__image">
                <img src="/static/images/metal4.jpg" alt="Область применения">
            </div>
            <div class="about__text">
                <h1>ОБЛАСТЬ ПРИМЕНЕНИЯ</h1>
                <p>Черный металл используется в различных сферах, таких как строительство мостов, зданий, инфраструктуры, а также в машиностроении и производстве. Благодаря высокой прочности и долговечности, металлопрокатные изделия могут выдерживать большие нагрузки и использоваться в условиях повышенной влажности или высоких температур. Металлопрокат является основой для создания множества промышленных и строительных объектов, от простых конструкций до сложных инженерных сооружений. Современные технологии производства позволяют создавать продукцию, которая соответствует строгим стандартам качества и безопасности.</p>
                <ul>
                    <li>•Строительство</li>
                    <li>•Производство металлоконструкций</li>
                    <li>•Мебельное производство</li>
                    <li>•Машиностроение</li>
                    <li>•Мостостроение и другие</li>
                </ul>
            </div>
        </div>

        <div class="about__block about__block--right" data-aos="fade-right">
            <div class="about__text">
                <h1>ЦЕНЫ НА ЧЕРНЫЙ МЕТАЛЛОПРОКАТ</h1>
                <p>Наша компания предлагает конкурентоспособные цены на черный металлопрокат как для оптовых, так и для розничных покупателей. Мы понимаем важность оптимизации затрат для наших клиентов, поэтому предлагаем гибкую ценовую политику и возможность заказа любого объема продукции. Рассчитать точную стоимость вашего заказа можно, обратившись к нашим менеджерам по телефону +77010665544. Мы предоставляем консультации по всем вопросам, связанным с выбором и покупкой металлопроката, чтобы вы могли сделать максимально информированное решение.</p>
            </div>
            <div class="about__image">
                <img src="/static/images/metal6.jpg" alt="Цены">
            </div>
        </div>
    </div>
</section>



{% endblock %}
